{%extends "layout.html"%}
{%block content%}

 <table class="ui striped table">
                <thead>
                <tr>
                <th>ordered at </th>
                <th>symbol</th>
                <th>side</th>
                <th>status</th>
                <th>quantity</th>
                <th>price</th>
                <th>limit price</th>
                <th>stop price</th>
                </tr>
                </thead>
                <tbody>
                {%for order in orders%}
                <tr>
                    <td>{{order.created_at}}</td>
                    <td>{{order.symbol}}</td>
                    <td>{{order.side}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.filled_qty}}</td>
                    <td>{%if order.filled_avg_price%}{{order.filled_avg_price}}{%endif%}</td>
                    <td>{%if order.limit_price%}{{"$%.2f"| format(order.limit_price|float)}}{%endif%}</td>
                    <td>{%if order.stop_price%}{{"$%.2f"| format(order.stop_price|float)}}{%endif%}</td>

                </tr>
                {%endfor%}
            </tbody>
</table>

{%endblock%}
